@import "helpers/placeholders";

@import "components/header-logo";
@import "components/header-marbles";
@import "components/header-heart";
@import "components/header-rate";
@import "components/header-clock";

// dimension
$header_height: 140px;

// depth
$header_depth: 1;

// color
$gray: rgba(182, 188, 193, 1);

.header {
    @extend %fixed;
    z-index: $header_depth;
    @extend %top;
    @extend %as_wide_as_parent;
    height: $header_height;
    @extend %flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray;
    background-color: white;
}
    .header-left {
        @extend %flex;
        @extend %as_wide_as_parent;
    }
    .header-right {
        @extend %flex;
        justify-content: flex-end;
        @extend %as_wide_as_parent;
    }