@import "components/header-filter";
@import "components/header-fuel";
@import "components/header-level";
@import "components/header-marbles";
@import "components/header-profile";
@import "components/header-rate";

// depth
$header_depth: 3;

// color
$gray_border: rgba(182, 188, 193, 1);

.header {
    @extend %fixed;
    z-index: $header_depth;
    @extend %top;
    @extend %as_wide_as_parent;
    @extend %flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray_border;
    background-color: #717070;
    @include md-max {
        height: $g_header_height_md_max;
    }
    @include md-min {
        height: $g_header_height_md_min;
    }
}
    .header-left {
        @extend %flex;
        @extend %as_wide_as_parent;
        @extend %as_tall_as_parent;
    }
    .header-right {
        @extend %flex;
        justify-content: flex-end;
        @extend %as_wide_as_parent;
        @extend %as_tall_as_parent;
    }

    @media (min-width: 320px) and (max-width: 559px) {
        .header-right {
            display: none;
        }
        .header-filter {
            display: none;
        }
    }
