.main-container {
    @extend %flex;
    @extend %relative;
    @extend %margin_center_x;
    justify-content: center;
    margin-top: 70px;
    word-break: break-all;
}

@-webkit-keyframes slide {
    from {right: 0;}
    to {right: $g_right-sidebar_width/2;}
}

@keyframes slide {
    from {right: 0;}
    to {right: $g_right-sidebar_width/2;}
}

@-webkit-keyframes slide-back {
    from {right: $g_right-sidebar_width/2;}
    to {right: 0;}
}

@keyframes slide-back {
    from {right: $g_right-sidebar_width/2;}
    to {right: 0;}
}
