@import "components/profile-content";
@import "components/profile-ludoing";
@import "components/profile-history";
@import "components/profile-statistic";
@import "components/profile-prize";

    .profile-element {
        @extend .card;
        padding: $card_padding;
    }
        .profile-element__title {
            padding-bottom: 15px;
            font-size: 16px;
        }