// dimension
$right-sidebar_height_md_min: 100% - $g_header_height_md_min;
$right-sidebar_height_md_max: calc(100% - 70px);
$right-sidebar-item_height: 100%/6;

// color
$sidebar-color-1: rgba(255, 252, 121, 1);
$sidebar-color-2: rgba(255, 212, 121, 1);
$sidebar-color-3: rgba(255, 126, 121, 1);
$sidebar-color-4: rgba(215, 131, 255, 1);
$sidebar-color-5: rgba(118, 214, 255, 1);
$sidebar-color-6: rgba(115, 250, 121, 1);

.right-sidebar-hover-area {
    @extend %fixed;
    @extend %header_height_offset;
    @extend %right;
    width: $g_right-sidebar_width/3;
    @include md-max {
        height: $right-sidebar_height_md_max;
    }
    @include md-min {
        height: $right-sidebar_height_md_min;
    }
}
// .right-sidebar-hover-area.hovering {
//     width: $g_right-sidebar_width*3;
// }


.right-sidebar-arrow-container {
    @extend %as_tall_as_parent;
    @extend %flex;
    align-items: center;
    justify-content: center;
    color: white;
    .arrow {
        @extend %as_wide_as_parent;
        @extend %flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        @extend %round_border;
        background-color: rgba(0,0,0,0.5);
    }
}

.right-sidebar {
    @extend %fixed;
    @extend %header_height_offset;
    @extend %right;
    width: $g_right-sidebar_width;
    background-color: $g_background_gray;
    @include md-max {
        height: $right-sidebar_height_md_max;
    }
    @include md-min {
        height: $right-sidebar_height_md_min;
    }
}
    .right-sidebar-item {
        @extend %clickable;
        @extend %relative;
        @extend %as_wide_as_parent;
        height: $right-sidebar-item_height;
        border-color: white;
    }
        .right-sidebar-item__icon {
            width: 55%;
            @extend %as_tall_as_parent;
            @extend %margin_center_x;
            @extend %background_img_setting;
        }
        .right-sidebar-item__instruction {
            @extend %absolute;
            @extend %flex;
            align-items: center;
            justify-content: center;
            @extend %as_wide_as_parent;
            @extend %as_tall_as_parent;
            color: white;
            background-color: rgba(0,0,0,0.6);
        }

    .color-sidebar1 {
        background-color: $sidebar-color-1;
        .playground-icon {
            background-image: url('../images/sidebar/playground_icon.png');
        }
    }
    .color-sidebar2 {
        background-color: $sidebar-color-2;
        .profile-icon {
            background-image: url('../images/sidebar/profile_icon.png');
        }
    }
    .color-sidebar3 {
        background-color: $sidebar-color-3;
        .start-ludo-icon {
            background-image: url('../images/sidebar/start_ludo_icon.png');
        }
    }
    .color-sidebar4 {
        background-color: $sidebar-color-4;
        .freinds-icon {
            background-image: url('../images/sidebar/ludo_friends_icon.png');
            background-size: 160%;
        }
    }
    .color-sidebar5 {
        background-color: $sidebar-color-5;
        .ludo-sports-icon {
            background-image: url('../images/sidebar/ludo_sports_icon.png');
            background-size: 120%;
        }
    }
    .color-sidebar6 {
        background-color: $sidebar-color-6;
        .ludo-read-icon {
            background-image: url('../images/sidebar/ludo_read_icon.png');
        }
    }