@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import "helpers/variables";

body {
    // background-color: white;
    background-color: $g_background_gray;
    font-family: "Exo" , "Microsoft JhengHei";
}