// depth
$right-sidebar_depth: 1;

// header
$g_header_height_md_min: 70px;
$g_header_height_md_max: 70px;

// right-sidebar
$g_right-sidebar_width: 100px;

// color
$gray: rgb(240, 240, 240);
$g_background_gray: rgb(232, 235, 237);
$orange: #FFC645;
$cyan : #2e968c;