// depth
$right-sidebar_depth: 1;

// header
$g_header_height_md_min: 20%;
$g_header_height_md_max: 140px;

// right-sidebar
$g_right-sidebar_width: 100px;
$g_right-sidebar_height_md_min: 100% - $g_header_height_md_min;
$g_right-sidebar_height_md_max: calc(100% - 140px);

// color
$gray: rgb(240, 240, 240);
$g_background_gray: rgb(232, 235, 237);