// dimension
$grid-item_width: 216px; //270px;
$grid-item--half_width: 424px;//530px;
$grid-item--friend_width: 170px;

// padding
$card_padding: 20px;
$grid-item_padding: 5px;

// color
$card_border-color: hsla(0, 0%, 0%, 0.5);

.grid {
    @extend %relative;
    @extend %margin_center_x;
}
    .grid-item {
        width: $grid-item_width;
        padding: $grid-item_padding;
    }
    .grid-item--half {
        @extend .grid-item;
        width: $grid-item--half_width;
    }
    .grid-item--friend {
        @extend .grid-item;
        width: $grid-item--friend_width;
    }

    .stamp {
        @extend .grid-item;
        @extend %fixed;
        @extend %right;
        @extend %bottom;
    }

    .card {
        border-color: $card_border-color;
        padding: $card_padding;
        background-color: white;
        @include transition-duration(0.3s);
        @include box-shadow(0px, 1px, 2px, 0px, rgba(0,0,0,0.2));
        &:hover {
            box-shadow: 0 4px 20px 0 rgba(0,0,0,0.19);
            @include transition-duration(0.3s);
        }
        .card-top {
            
        }
        .card-bottom {
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: gray;
        }
    }