// dimension
$grid-item_width: 200px;
$grid-item_total-width: $grid-item_width + 2*13px;

.grid {
    @extend %relative;
    @extend %margin_center_x;
}

.grid-item {
    width: $grid-item_width;
    padding: 7px 10px;
}

.card {
    background-color: white;
    @include box-shadow(0px, 1px, 2px, 0px, rgba(0,0,0,0.2));

    &:hover {
        box-shadow: 0 4px 20px 0 rgba(0,0,0,0.19);
        @include transition-duration(0.3s);
    }
}

.card--playground {
    @extend %clickable;
    border-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-width: 5px;
    background-color: rgba(255, 255, 255, 1);
}

.card-front {
    @extend %relative;
    @extend %as_wide_as_parent;
    font-weight: 600;
    word-wrap: break-word;
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;

    perspective: 1000px;
    -webkit-perspective: 1000px; /* Chrome, Safari, Opera */
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    overflow: hidden;

    .card-front-info {
        @extend %absolute;
        @extend %flex;
        @include backface-visibility(hidden);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            margin: 20px;
        }

        .duration {
            margin-bottom: 15px;
        }
    }
    .card-views {
        @include backface-visibility(hidden);
        font-size:12px;
        @extend %absolute;
        bottom: 5px;
        right: 5px;
    }
}

.card-back {
    left: 10px;
    top: 7px;
    width: 200px;
    word-wrap: break-word;
    @extend %text_center;
    font-size: 14px;
    text-align: center;
    transform:rotateY(180deg);
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */

    @include backface-visibility(hidden);
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);

    .card-button_circle {
        @include circle(40px, #fff);
        line-height: 40px;
        display: inline-block;
        box-shadow: 0 0 0 2px black;
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
        text-decoration: none;

        &:hover {
            @include circle(40px, gray);
            @include transition-duration(0.25s);
        }
    }
}

/* card flip animation */
.card-flip {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);
}
.card-flip .card-front-info {
    opacity: 0;
    visibility: hidden;
}
.card-flip .card-back {
    @include backface-visibility(visible);
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);
}
