.comment-form {
}
.comment-list {
}
    .single-comment-container {
        @extend %relative;
        @extend %as_wide_as_parent;
        @extend %flex;
        align-items: center;
        background-color: $gray;
    }
        .comment-avatar-container {
            @extend %flex;
            align-self: flex-start;
            justify-content: center;
            width: 20%;
            height: 40px;
            margin: 5px;
            .comment__avatar {
                width: 80%;
                height: 80%;
            }
        }
        .comment__message {
            // width: 80%;
            width: 120px;
            margin: 5px;
            font-size: 14px;
            line-height: 1.5;
            &::-webkit-scrollbar {
                width: 8px;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background-color: $g_background_gray;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            }
        }
        textarea.comment__message {
            border: none;
            resize: none;
            padding: 0;
        }

.comment-button {
    @extend %absolute;
    @extend %top;
    @extend %right;
    z-index: 2;
}
