$button_blue: rgba(0, 190, 250, 1);
$button_red: rgba(255, 30, 30, 1);

.create-form {
    @extend .card;
    @extend %as_wide_as_parent;
    @extend %text_center;
}
.create-form-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .create-form-information-icon {
        @extend %half_width_of_parent;
    }
        .create-form-information-icon__icon {
            height: 200px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    .create-form-fields {
        @extend %as_wide_as_parent;
    }
        .create-form-field {
            display: flex;
            align-items: center;
            label {
                font-size: 14px;
            }
            div {
                width: 100px;
                font-size: 12px;
            }
            button {
                font-size: 14px;
            }
        }
            .create-form-drop_down_list {
                width: 70%;
                .rw-input {
                    font-size: 14px;
                    color: black;
                }
                span {
                    font-size: 14px;
                }
            }
            .create-form-number_picker {
                width: 50%;
                height: 30px;
                .rw-input {
                    color: black;
                }
            }
        .create-form-day-picker {
            label, li {
                font-size: 14px;
            }
        }
            .create-form-day-picker__button {
                width: 30px;
            }
            .create-form-day-picker__button--reset-all {
                width: 60px;
            }
            .create-form-day-picker__button--reset-duration {
                width: 95px;
                &:hover {
                    background-color: $button_blue;
                }
            }
            .create-form-day-picker__button--reset-checkpoint {
                width: 110px;
                &:hover {
                    background-color: $button_red;
                }
            }
            .create-form-day-picker__button--duration {
                width: 30px;
                background-color: $button_blue;
            }
            .create-form-day-picker__button--checkpoint {
                width: 30px;
                color: $button_red;
                background-color: $button_blue;
            }

            .create-form-day-picker__check-point-list {
                display: inline-flex;
            }