.form {
    width: 55%;
    height: 535px;
    @extend %flex;
    justify-content: flex-end;
}

.form--report {
    width: 50%;
    height: 535px;
    @extend %flex;
    margin: 0 20px;
}

.form--bystander {
    @extend %relative;
    width: 50%;
    right: 15px;
    padding-top: 0;
}

.form-ludo-list-container {
    @extend %relative;
    width: 45%;
    padding-left: 25px;
}

    .form-item {
        display: inline-flex;
        width: 220px;
        height: 270px;
        padding: 5px;
    }
        .form-card {
            @extend .card;
            margin-left: 10px;
            margin-right: 10px;
        }