.friend-list__element {
    position: relative;
    height: 170px;
    margin-bottom: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend-list__icon {
    max-width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%)
}

.friend-list__element a {
    text-decoration: none;
    transition: 0.1s;
}
.friend-list__element a:hover {
    transition: 0.1s;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.57, -0.55, 0.29, 1.92);
}
