.header-profile {
    @extend %flex;
    align-items: center;
    justify-content: center;
    @extend %relative;
}

.header-login {
    @extend %as_tall_as_parent;
    @extend %flex;
    align-items: center;
}
    .profile-icon {
        @extend %clickable;
        width: $g_header_height_md_min * 0.6;
        height: $g_header_height_md_min * 0.6;
        margin-right: 20px;
    }

.header-fb-photo {
    @extend .header-login;
}
    .facebook-avatar {
        @extend .profile-icon;
        @extend %round_border;
    }