$green: rgb(140, 200, 40);
$orange: rgb(255, 115, 20);

.header-rate-container {
    @extend %flex;
    @extend %as_tall_as_parent;
    margin-right: 10px;
    margin-left: 10px;
}

.header-rate {
    @extend %relative;
    @extend %as_tall_as_parent;
    @extend %flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

    .header-circle-progress-bar {
        width: 45px;
    }
    .header-circle-progress-hint {
        @extend %absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
    }
    .header-circle-progress-hint--number {
    }
    .header-circle-progress-hint--text {
        @extend %as_wide_as_parent;
        @extend %text_center;
    }