@import "helpers/placeholders";

// color
$orange: rgb(255, 115, 20);

.header-finish-rate {
    @extend %as_tall_as_parent;
    margin-right: 5px;
    margin-left: 5px;
}
    .header-finish-rate__circle {
        stroke: $orange;
    }
    .header-finish-rate__text {
        font-size: 65%;
        @extend %text_center;
    }
    .header-finish-rate__number {
        top: 25%;
        left: 30%;
    }