.header-left-arrow-container {
    width: 10%;
    @extend %as_tall_as_parent;
    @extend %absolute;
    display: flex;
    align-items: center;
    &:active {
        // background-color: rgba(0, 0, 0, 0.4);
    }
    img {
        height: 50%;
        padding-left: 10px;
    }
}
