.header-Ludo-logo {
    left:123px;
    @extend %clickable;
    @extend %flex;
    align-items: center;
    @extend %relative;
    width: 205px;
    @extend %as_tall_as_parent;
    }
}
    .header-Ludo-logo__icon {
        @extend %relative;
        height: $g_header_height_md_min * (3/7);
    }
