.header-filter {
    visibility: hidden;
    @extend %relative;
    left:25%;
    align-self: center;
    justify-content: center;
}

.filter-button-container {
    display: flex;
    align-self: center;
    .filter-button {
        @extend .ludo-button;
        white-space: nowrap;
        height: 50%;
    }
}