.header-marbles {
    @extend %flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    @extend %as_tall_as_parent;
}
    .header-marbles__icon {
        height: 40px;
        padding-top: 3px;
    }
    .header-marbles__number {
        padding-top: 2px;
        font-family: Exo, "Microsoft JhengHei";
        font-size: 18px;
    }