.header-marbles {
    @extend %flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80px;
    @extend %as_tall_as_parent;
}
    .header-marbles__icon {
        width: 45px;
        height: 45px;
    }
    .header-marbles__number {
        margin: 0 1px;
        padding-top: 2px;
        font-family: Exo, "Microsoft JhengHei";
        font-size: 18px;
    }