.header-heart {
    @extend %flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    @extend %as_tall_as_parent;
    max-height: 100%;
    margin: 0 5px;
    border-left: 1px dashed rgba(200,200,200,0.7);
    border-right: 1px dashed rgba(200,200,200,0.7);
}
    .header-heart-icon {
        @extend %relative;
        // left: 15px;
        // bottom: 5%;
        height: 60px;
    }