.link-to-login-button {
    @extend %clickable;
    @extend %relative;
    left: 150px;
    top: 12px;
    width: 80px;
    height: 40px;
    border: none;
    font-size: 20px;
}

.login-container {
    @extend %flex;
    // justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 530px;
    @extend %margin_center_x;
    @extend %text_center;
    background-color: white;
    
    .login-top-container {
        .logo-container {
            .logo-icon {
                width: 205px;
                margin-top: 50px;
                margin-bottom: 20px;
            }
        }
        input {
            width: 270px;
            height: 30px;
            border: none;
            margin-bottom: 10px;
            color: rgba(180, 180, 180, 1);
            background-color: rgba(240, 240, 240, 1);
            &::-webkit-input-placeholder {
                @extend %text_center;
            }
        }

        button {
            @extend .ludo-button;
            border: none;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 15px;
            margin-bottom: 40px;
        }
        .login {
            width: 100px;
            height: 30px;
            color: white;
            background-color: #ea5514;
        }
        .signup {
            width: 100px;
            height: 30px;
            background-color: #fff100;
        }
    }

    .login-bottom-container {
        .other-login-instruction {
            font-size: 14px;
            color: rgba(200, 200, 200, 1);
        }
        .other-login-icon-container {
            @extend %flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 35px;

            .other-login-icon {
                width: 50px;
                height: 50px;
                margin: 0 8px;
            }
        }
    }
}