.link-to-login-button {
    @extend %clickable;
    @extend %relative;
    left: 150px;
    top: 12px;
    width: 80px;
    height: 40px;
    border: none;
    font-size: 20px;
}


.login-container {
    @extend %flex;
    flex-direction: column;
    width: 450px;
    height: 530px;
    @extend %margin_center_x;
    @extend %text_center;
    background-color: rgba(245, 245, 245, 0.9);

    .login-top-container {
        margin: 30px 0;

        .logo-container {
            margin-bottom: 20px;
            .logo-icon {
                width: 205px;
            }
        }
        input {
            width: 270px;
            height: 30px;
            border: none;
            color: rgba(180, 180, 180, 1);
            background-color: white;
            &::-webkit-input-placeholder {
                @extend %text_center;
            }
        }
        .error-message {
            margin-bottom: 10px;
            color: red;
            font-size: 12px;
        }
        .server-error-message {
            color: red;
        }
        .buttons {
            @extend %flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a, button {
                @extend %flex;
                align-items: center;
                justify-content: center;
                @extend .ludo-button;
                border: none;
                margin-right: 5px;
                margin-left: 5px;
                margin-top: 15px;
                font-size: 12px;
                text-decoration: none;
            }

            .login {
                width: 100px;
                height: 30px;
                color: white;
                background-color: #ea5514;
                border: 1px solid transparent;
                &:hover {
                    color: #ea5514;
                    background-color: white;
                    border: 1px solid #ea5514;
                }
                &:disabled {
                    color: gray;
                    border: none;
                    background-color: rgba(220, 220, 220, 1);
                    @extend %unclickable;
                }
            }

            .signup {
                width: 100px;
                height: 30px;
                background-color: #fff100;
                border: 1px solid transparent;

                &:hover {
                    background-color: white;
                    border: 1px solid #fff100;

                }
                &:disabled {
                    color: gray;
                    border: none;
                    background-color: rgba(220, 220, 220, 1);
                    @extend %unclickable;
                }
            }
        }

        .forget-password {
            font-size: 12px;
        }

    }

    .login-bottom-container {
        .other-login-instruction {
            font-size: 14px;
            color: rgba(200, 200, 200, 1);
        }
        .other-login-icon-container {
            @extend %flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 35px;
        }

            .fb-login-icon {
                width: 50px;
                height: 50px;
                margin: 0 8px;
            }
            .fb-login-text {
                font-size: 14px;
            }
            .other-login-icon {
                @extend %unclickable;
                width: 50px;
                height: 50px;
                margin: 0 8px;
            }
    }
}
@media (max-width: 559px) and (min-width: 320px) {
    .login-container {
        width: auto;
        margin: 0 -30px;
    }
    .login-container .login-top-container input {
        width: auto;
    }
}
