.ludo-detail-information-container {
    @extend %fixed;
    width: 540px;
    @extend .card;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    @extend %text_center;
}
    .ludo-detail-information-field__text {
        @extend %flex;
        align-items: center;
        justify-content: center;
        @extend %as_wide_as_parent;
        height: 30px;
        font-size: 16px;
        margin-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: $gray_text-field;
    }
    .ludo-detail-information-field__text--introduction {
        height: 100px;
    }

.ludo-detail-information-top-container {
    @extend %flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .category-icon-container {
        width: 40%;
        height: 50%;
        padding-right: 20px;
        padding-left: 20px;

        .category-icon {
            height: 150px;
        }
    }

    .top-right-container {
        width: 60%;
    }
        .category-container {
            @extend %flex;
            margin-bottom: 10px;
            font-size: 16px;
        }
            .category-label {
                width: 30%;
            }
            .category-value {
                width: 70%;
            }
}

.ludo-detail-information-bottom-container {
    @extend %relative;
    margin-top: 20px;
    .marbles-label {
        margin-bottom: 14px;
        font-size: 14px;
        text-align: left;
    }
    .marbles-label--number {
        margin-left: 20px;
    }
    .duration-label {
        @extend %flex;
        margin-top: 16px;
        font-size: 14px;
    }
}

.ludo-detail-information-slider--marbles {
    // overwrite react-component slider
    .rc-slider-step {
        height: 6px;
        margin-top: 10px;
    }
    .rc-slider-track {
        height: 6px;
        background-color: $orange_button;
    }
    .rc-slider-dot {
        width: 15px;
        height: 15px;
        background-image: url("../images/marble.png");
        @extend %background_img_setting;
    }
    .rc-slider-handle {
        width: 15px;
        height: 15px;
        background-image: url("../images/marble.png");
        @extend %background_img_setting;
    }
}

.ludo-detail-information-day-picker {
    margin-bottom: 10px;
}
    .ludo-detail-information-day-picker__button {
        width: 50px;
        height: 30px;
        margin: 5px;
        font-size: 20px;
        color: $black_button;
        background-color: $black_button;

        // overwrite css of default button
        &:disabled {
            @extend %unclickable;
            border: none;
        }
    }
    .ludo-detail-information-day-picker__button--duration {
        color: white;
    }
    .ludo-detail-information-day-picker__button--checkpoint {
        color: white;
        background-color: $orange_button;
    }


.ludo-detail-information-slider--duration {
    margin-top: 12px;
    margin-bottom: 15px;
    // overwrite react-component slider
    .rc-slider-step {
        height: 2px;
        background-color: $black;
    }
    .rc-slider-track {
        height: 2px;
    }
    div.rc-slider-handle {
        border-color: $orange_button;
        background-color: $orange_button;
    }
}

.ludo-detail-information-submit-button {
    @extend .ludo-button;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: $black;
    background-color: $orange_button;

    &:disabled {
        @extend %unclickable;
        background-color: $gray_text-field;
        border: none;
    }
}