.ludo-detail-information-container {
    @extend .ludo-create-information-container;
    // height: 78%;
}

.ludo-detail-information-top-container {
    @extend %flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .category-icon-container {
        width: 40%;
        height: 50%;
        padding-right: 20px;
        padding-left: 20px;

        .category-icon {
            height: 150px;
        }
    }

    .top-right-container {
        width: 60%;
    }
        .text-field-container {
            @extend %flex;
            align-items: center;
            // height: 30px;
            margin: 10px 0;
            font-size: 16px;
        }
            .text-field-label {
                width: 20%;
            }
            .text-field-value {
                width: 80%;
                height: 30px;
                line-height: 30px;
                border: none;
                background-color: $gray;
            }
}

.ludo-detail-information-bottom-container {
    @extend .ludo-create-information-bottom-container;

    .text-field__introduction {
        @extend %flex;
        align-items: center;
        justify-content: center;
        @extend %as_wide_as_parent;
        height: 14px*5;
        background-color: $gray_text-field;
    }
}

.ludo-detail-information-day-picker {
}
    .ludo-detail-information-day-picker__button {
        width: 50px;
        height: 30px;
        margin: 5px;
        font-size: 20px;
        color: $black_button;
        background-color: $black_button;

        // overwrite css of default button
        &:disabled {
            @extend %unclickable;
            border: none;
        }
    }
    .ludo-detail-information-day-picker__button--duration {
        color: white;
    }
    .ludo-detail-information-day-picker__button--checkpoint {
        color: white;
        background-color: $orange_button;
    }


.ludo-detail-information-slider--duration {
    margin-top: 12px;
    // overwrite react-component slider
    .rc-slider-step {
        height: 2px;
        background-color: $black;
    }
    .rc-slider-track {
        height: 2px;
    }
    div.rc-slider-handle {
        border-color: $orange_button;
        background-color: $orange_button;
    }
}