$black: rgba(0, 0, 0, 0.8);
$black_button: rgba(60, 60, 60, 1);
$gray_shadow: rgba(160, 160, 160, 1);
$gray_text-field: rgba(240, 240, 240, 1);
$gray_text_in_text-field: rgba(160, 160, 160, 1);
$orange_button: rgba(248, 182, 45, 1);

.ludo-create-information-container {
    @extend %fixed;
    width: 540px;
    height: 80%;
    overflow-y: auto;
    @extend .card;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 30px;
    @extend %text_center;

    &::-webkit-scrollbar {
        width: 8px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        // background: rgba(255,0,0,0.8);
        background-color: $g_background_gray; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}
    .ludo-create-information-field-text {
        @extend %flex;
        align-items: center;
        justify-content: center;
        @extend %as_wide_as_parent;
        height: 30px;
        font-size: 16px;
    }

.ludo-create-information-top-container {
    @extend %flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    .category-icon-container {
        width: 40%;
        height: 50%;
        padding-right: 20px;
        padding-left: 20px;

        .category-icon {
            height: 150px;
        }
    }
}

    .top-right-container {
        width: 60%;
        .dropdown-list-container {
            @extend %flex;
            align-items: center;
            margin: 10px 0;

            .category-label {
                width: 20%;
            }

            .dropdown-list {
                width: 80%;
                border-radius: 0;
                border-style: none;
                background-color: $gray_text-field;
                /* font size in the selection list */
                font-size: 14px;
                .rw-input {
                    /* font size in the text field of drop-down list */
                    font-size: 14px;
                    color: black;
                }
                span {
                    /* size of drop-down list arrow icon */
                    font-size: 14px;
                }
            }
        }
    }

    .text-field-container {
        @extend %flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 16px;

        .text-field-label {
            width: 20%;
        }
        .text-field {
            width: 80%;
            height: 30px;
            border: none;
            background-color: $gray_text-field;
            &::-webkit-input-placeholder {
                line-height: 30px;
                @extend %text_center;
            }
        }
    }

.ludo-create-information-bottom-container {
    @extend %relative;
    margin-top: 20px;
    font-size: 14px;

    .rc-slider {
        margin-bottom: 16px;
    }
    .text-label {
        text-align: left;
        margin-bottom: 5px;
    }
    .text-label--marble-number {
        margin-left: 20px;
    }
}

.ludo-create-information-day-picker {
    // margin-bottom: 10px;
}
    .ludo-create-information-day-picker__button {
        @extend .ludo-button;
        width: 50px;
        height: 30px;
        margin: 5px;
        font-size: 20px;
        color: $black_button;
        background-color: $black_button;

        // overwrite css of default button
        &:disabled {
            @extend %unclickable;
            border: none;
        }
    }
    .ludo-create-information-day-picker__button--duration {
        color: white;
    }
    .ludo-create-information-day-picker__button--checkpoint {
        color: white;
        background-color: $orange_button;
    }

.ludo-create-information-slider--duration {
    margin-top: 12px;
    margin-bottom: 15px;
    // overwrite react-component slider
    .rc-slider-step {
        height: 2px;
        background-color: $black;
    }
    .rc-slider-track {
        height: 2px;
    }
    .rc-slider-handle {
        border-color: $orange_button;
        background-color: $orange_button;
    }
}

    /* introduction field and hashtag field */
    .text-field-container--introduction {
        @extend %relative;
        flex-direction: column;
        margin-bottom: 8px;
        /* overwrite textarea default css */
        textarea {
            resize: none;
            border: none;
            padding: 0;
        }
        .text-field--introduction {
            @extend %as_wide_as_parent;
            height: 14px*5;
            background-color: $gray_text-field;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                @extend %text_center;
                line-height: 14px*5;
            }
        }
    }

.ludo-create-information-submit-button {
    @extend .ludo-button;
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: $black;
    background-color: $orange_button;

    &:disabled {
        @extend %unclickable;
        background-color: $gray_text-field;
        border: none;
    }
}