.mobile-create-card {
    @extend %relative;
    top: 10px;
    margin: 0 10px;
    background-color: white;
    
    .card-title {
        padding: 20px;
        text-align: center;
        font-size: 1.8rem;
    }

    .mobile-create-form {
        padding: 20px;
        caret-color: $orange;
    }

    .tag-container {
        @extend %flex;
        flex-flow: row wrap;
        margin-top: 20px;
    }

    .tag {
        @extend %relative;
        @extend %flex;
        align-items: center;
        margin: 5px;
        border-radius: 20px;
        padding: 8px 24px;
        color: white;
        background-color: $orange;

        .tag-text {
            margin-right: 5px;
        }

        .delete-button-container {
            @extend %absolute;
            right: 5px;
            top: 5px;
        }
    }

}
