.mobile-create-card {
    @extend %relative;
    top: 10px;
    margin: 0 10px;
    background-color: white;
    
    .card-title {
        padding: 20px;
        text-align: center;
        font-size: 1.8rem;
    }

    .mobile-create-form {
        padding: 20px;
        caret-color: $orange;
    }

    .tag-container {
        margin-top: 20px;
    }

    .tag {
        margin: 0 5px;
        border-radius: 20px;
        padding: 8px 24px;
        color: white;
        background-color: $orange;
    }
}
