.quick-start {
    @extend .card;
    width: 200px;
    height: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
}
    .quick-start__icon {
        height: 48px;
        @include background_img_content(quick_start_icon);
        @extend %background_img_setting;
    }