.quick-start {
    @extend .card;
    width: 200px;
    height: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
}
    .quick-start__icon {
      @include circle(50px,#fff);
      line-height: 50px;
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.8);
      color: black; /*word is black*/
      text-align:center;
      margin:auto;
    }
