.profile-ludo__element {
    @extend %clickable;
    @extend %relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: $black;
    background-color: $g_background_gray;
    @extend %text_center;
}
    .profile-ludo__icon {
        max-width: 45px;
    }