.single-ludo {
    @extend %clickable;
    width: 40%;
    @extend %flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px $g_background_gray;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 10px;
}
    .single-ludo__category-icon-container {
        @extend %relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: $black;
        background-color: $g_background_gray;
        @extend %text_center;
    }
        .single-ludo__category-icon {
            max-width: 30px;
        }

    .single-ludo__title {
        width: calc(100% - 70px);
        font-size: 14px;
        @extend %text_center;
    }