.upload-container {
    @extend %relative;
    margin-top: 20px;
}

    .upload-picture-button-container {
        width: 539px;
        display: inline-flex;
        border-color: #85888d;
        border-style: solid;
        border-width: 1px;
        border-bottom: none;
        background-color: rgb(240, 240, 240);
    }

        .upload-hint-text {
            @extend %flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            @extend %margin_center_x;
        }

        .upload-picture-button {
            @extend %clickable;
            @extend %relative;
            @extend %right;
            @extend %flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;
            border-style: solid;
            border-width: 1px;
            border-color: #85888d;
            border-top: none;
            border-right: none;

            .upload-picture-button__icon {
                width: 35px;
                height: 35px;
            }
        }

    .upload-text-container {
        background-color: rgb(240, 240, 240);
        margin: 0;
        border-color: #85888d;
        border-top: none;
        &::-webkit-input-placeholder {
            @extend %text_center;
            line-height: 85px;
        }
    }
    // overwrite default style
    textarea.upload-text-container {
        resize: none;
    }

.report-time-line-container {
    @extend %as_wide_as_parent;
    // height: 130px;  // in the page
    height: 500px;
    @extend %flex;
    justify-content: center;
    margin-bottom: 20px;
}
    .time-line {
        transform: rotate(180deg);
        span.rc-slider-dot {
            width: 20px;
            height: 20px;
            border-color: $black;
        }
        .rc-slider-handle {
            left: -4px;
            width: 23px;
            height: 23px;
        }
        div.rc-slider-handle {
            border-color: $black;
            background-color: rgb(248, 182, 45);
        }
        .rc-slider-mark-text {
            color: $black;
            transform: rotate(180deg);
        }
        div.rc-slider-mark {
            left: 0;
            top: -9px;
            @extend %flex;
            align-items: center;
            justify-content: center;
        }
        .rc-slider-step {
            right: 6px;
        }
        div.rc-slider-track {
            background-color: $black;
        }
    }
    .time-line.rc-slider-disabled {
        background-color: $black;
    }

.report-submit-button {
    @extend .ludo-button;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    font-size: 16px;
    color: $black;
    background-color: $orange_button;

    &:disabled {
        @extend %unclickable;
        background-color: $gray_text-field;
        border: none;
    }
}

.upload-preview {
    @extend %flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
    .upload-preview__text {
        margin-right: 10px;
    }
    .upload-preview__image {
        @extend %clickable;
        max-width: 200px;
        max-height: 200px;
        border-style: solid;
        border-width: 1px;
        border-color: $black;
    }

.upload-instruction {
    @extend %flex;
    align-self: flex-end;
    justify-content: center;
    @extend %relative;
    padding-top: 10px;
    @extend %text_center;
    color: rgb(180, 180, 180);

    .number {
        margin: 0 10px;
        color: $black;
    }
}