.form-and-report {
    display: inline-flex;
    margin-top: 5px;
}

.form--report {
    width: $g_form-width;
    height: $g_form-height;
    margin-right: 15px;
}

.report-information-container {
    overflow: hidden;
    &::-webkit-scrollbar {
        width: 8px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: $g_background_gray; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

.report-form-bottom-container {
    @extend .ludo-detail-information-bottom-container;
    margin-bottom: 20px;
    width: 100%;
    .introduction-container, .time-line-container {
        /* TODO: Find usage of inline-table */
        // display: inline-table;
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        height: 266px;
    }
    .text-label {
        @extend %flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 5px;
    }
    .introduction-and-tags {
        @extend %flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @extend %as_wide_as_parent;
        background-color: $gray_text-field;

        .introduction {
            @extend %flex;
            align-items: center;
            justify-content: center;
            @extend %as_wide_as_parent;
            height: 14px*13.35;
            background-color: $gray_text-field;
        }
    }
}

.report-form-bottom-container--player {
    height: 325px;
    .introduction-container--player, .time-line-container--player {
        height: 200px;
    }
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: $g_background_gray; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

.upload-container {
    @extend %relative;
    @extend %flex;
    flex-direction: row;
    margin-top: 10px;
    // background-color: rgb(240, 240, 240);
    // background-color: $black;
    background-color: black;
}
    .upload-text-container {
        width: 98.5%;
        margin: 0;
        border: none;
        background-color: rgb(240, 240, 240);
        &::-webkit-input-placeholder {
            @extend %text_center;
            line-height: 85px;
        }
    }
    /* overwrite default style */
    textarea.upload-text-container {
        resize: none;
        font-family: "Exo" , "Microsoft JhengHei";
    }

    .upload-picture-button-container {
        @extend %flex;
        // align-self: flex-start;
        align-self: center;
        justify-content: center;
        background-color: $black;
    }

        // .upload-hint-text {
        //     @extend %flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 80%;
        //     @extend %margin_center_x;
        // }

        .upload-picture-button {
            @extend %clickable;
            @extend %relative;
            @extend %right;
            @extend %flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;

            .upload-picture-button__icon {
                width: 35px;
                height: 35px;
            }
        }

.report-time-line-container {
    @extend %as_wide_as_parent;
    overflow-y: auto;
    height: calc(100% - 14px - 5px);
    @extend %flex;
    justify-content: center;
    padding: 10px 0;

    &::-webkit-scrollbar {
        width: 8px;
    }  
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: $g_background_gray; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}
    .report-time-line {
        height: 350px;
    }

    .time-line {
        transform: rotate(180deg);
        .rc-slider-dot {
            width: 20px;
            height: 20px;
        }
        span.rc-slider-dot {
            border-color: $black;
        }
        .rc-slider-handle {
            left: -4px;
            width: 23px;
            height: 23px;
        }
        div.rc-slider-handle {
            border-color: $black;
            background-color: rgb(248, 182, 45);
        }
        .rc-slider-mark-text {
            color: $black;
            transform: rotate(180deg);
        }
        div.rc-slider-mark {
            left: 0;
            top: -9px;
            @extend %flex;
            align-items: center;
            justify-content: center;
        }
        .rc-slider-step {
            right: 6px;
        }
        div.rc-slider-track {
            background-color: $black;
        }
    }
    .time-line.rc-slider-disabled {
        background-color: $black;
    }

.upload-preview {
    @extend %flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
    .upload-preview__text {
        margin-right: 10px;
    }
    .upload-preview__image {
        @extend %clickable;
        max-width: 200px;
        max-height: 200px;
        border-style: solid;
        border-width: 1px;
        border-color: $black;
    }

.upload-instruction {
    @extend %flex;
    align-self: flex-end;
    justify-content: center;
    @extend %relative;
    padding-top: 10px;
    @extend %text_center;
    color: rgb(180, 180, 180);

    .number {
        margin: 0 10px;
        color: $black;
    }
}