.report-list {
    width: 50%;
    margin: 0 10px;
}

.report-list-container {
    display: inline-flex;
    width: 50%;
}
    .player-container {
        @extend %as_wide_as_parent;
        margin: 0 10px 0 10px;
    }
        .player-photo-container {
            @extend %flex;
            align-items: center;
            justify-content: center;
            border-style: solid;
            border-width: 1px;
            padding: 5px 0;

            .player-photo-container__photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border-style: solid;
                border-width: 1px;
            }
        }

        .player-report-container {
            @extend %relative;
            margin: 20px 0;
            background-color: white;
            .report-content-container {
                @extend %flex;
                align-items: center;
                justify-content: center;
                max-width: 100%;
                border-style: solid;
                border-width: 1px;
                padding: 5px;
            }
            .report-content {
                max-width: 100%;
            }
            .report-content--image {
                @extend %clickable;
            }
            .report-content--text {
                padding: 10px;
            }
        }
            .player-report-comment-box-container {
                @extend %relative;
                @extend %bottom;
                width: 99.3%;
                border-style: solid;
                border-width: 1px;

                .comment-form {
                }
                .comment-list {
                }
                    .comment-container {
                        @extend %as_wide_as_parent;
                        @extend %flex;
                        align-items: center;
                        background-color: $gray;
                    }
                        .comment-avatar-container {
                            @extend %flex;
                            align-self: flex-start;
                            justify-content: center;
                            width: 20%;
                            height: 40px;
                            margin: 5px;
                            .comment__avatar {
                                width: 80%;
                                height: 80%;
                            }
                        }
                        .comment__message {
                            width: 80%;
                            margin: 5px;
                            font-size: 14px;
                        }
            }