@import "components/single-report";

.report-list {
    width: $grid-item_total-width*2;
    margin: 0 5px;
}

.report-list-container {
    display: inline-flex;
    width: 45%;
    margin: 0 7px;
    font-size: 16px;
}
    .player-container {
        @extend %as_wide_as_parent;
    }
        .player-photo-container {
            @extend %flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            background-color: white;

            .player-photo-container__photo {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: gray;
            }
        }