.search {
    @extend %fixed;
    @extend %bottom;
    padding: $card_padding;
}
    .search-card {
        @extend .card;
        width: $grid-item_width - 2 * $card_padding;
        padding: $card_padding;
    }
        .search-icon {
            display: inline-block;
            width: 20%;
            @extend %as_tall_as_parent;
            @extend %text_center;
            vertical-align: top;
            @extend %relative;
        }
            .search-icon__icon {
                height: 50px;
                @include background_img_content(auto_start_icon);
                @extend %background_img_setting;
            }
        .search-text {
            @extend .search-icon;
            width: 80%;
        }
            .search-text__title {
                @extend %as_wide_as_parent;
            }
            .search-text__textfield {
                width: 80%;
                background-color: $gray;
            }
