.player-report-container {
    @extend %relative;
    margin: 20px 0;
    background-color: white;
    .report-content-container {
        @extend %flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        padding: 5px;
        border-bottom: 1px dashed $gray;
        .editing-image {
            display: inline-flex;
            text-align: center;

            .upload {
                display: inline-flex;
                border: solid 1px $gray;

                .upload-description {
                    align-self: center;
                    font-size: 12px;
                }
    
                .upload-picture-button__icon {
                    width: 30px;
                    height: 30px;
                    padding-bottom: 5px;
                }
            }
            .cancel-button {
                margin-left: 30px;
            }
        }
    }
    .report-content {
        max-width: 100%;
        word-break: break-word;
    }
    .report-content__image {
        cursor: zoom-in;
    }
    .report-content__text {
        padding: 10px;
        line-height: 1.5;
        white-space: pre-wrap;
    }
    .report-content__text-edit {
        width: 97%;
        // border: none;
        resize: none;
    }
    .report-date {
        @extend %as_wide_as_parent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        font-size: 12px;
    }
    .report-tags-container {
        margin: 5px;
        span.report-tag {
            display: inline-block;
            margin: 5px;
        }
    }
}
    .player-report-comment-box-container {
        @extend %relative;
        @extend %bottom;
        @extend %as_wide_as_parent;
    }

.report-icon-button {
    @extend %as_wide_as_parent;
    @extend %flex;
    justify-content: flex-start;
    
    .report-date{
        font-size: 12px;
        margin-top: 52px;
        margin-left: 20px;
    }

    button {
        margin-top: 35px !important;
        margin-left: 110px !important;
    }
}

.report-popover-expand-more-menu-item {
    // font-size: 12px;
}
