.ludo-create-information-submit-button {
    @extend .ludo-button;
    width: 80px;
    height: 30px;
    margin: 0 5px;
    font-size: 16px;
    // color: $black;
    color: white;
    background-color: $orange_button;
    font-family: "Exo" , "Microsoft JhengHei";

    &:disabled {
        @extend %unclickable;
        background-color: $gray_text-field;
        border: none;
    }
}

.ludo-detail-information-submit-button {
    @extend .ludo-create-information-submit-button;
}

.ludo-modify-information-submit-button {
    @extend .ludo-create-information-submit-button;
    font-weight: 600;
    // background-color: red;
}

.ludo-modify-information-submit-button--cancel {
    @extend .ludo-modify-information-submit-button;
    // background-color: green;
}

.ludo-template-information-submit-button {
    @extend .ludo-create-information-submit-button;
    width: auto;
    padding: 0 10px;
}

.ludo-template-information-submit-button--delete {
    @extend .ludo-template-information-submit-button;
    background-color: $orange_button;
}

.report-submit-button {
    @extend .ludo-create-information-submit-button;
    margin: 10px 0;
}

.report-submit-button--report {
    margin: 0;
}