/* overwrite css of react-tabs */
.react-tabs {
    &__tab-list.mobile-avatar {
        @extend %as_wide_as_parent;
        position: fixed;
        display: flex;
        flex-wrap: nowrap;
        box-shadow: 0 0 2px #424242;
        background-color: rgba(240, 240, 240, 1);
        z-index: 1;
    }

    &__tab.mobile-avatar {
        @extend %half_width_of_parent;
    }

    &__tab--selected.mobile-avatar {
        background-color: rgba(240, 240, 240, 1);
        border: none;
        border-bottom: 2px solid black;
    }

    &__tab-panel {
        @extend %relative;
        top: 60px;
    }
}