/* overwrite css of react-tabs */
.react-tabs {
    &__tab-list.mobile-avatar {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid black;
    }

    &__tab.mobile-avatar {
        @extend %half_width_of_parent;
    }

    &__tab--selected.mobile-avatar {
        bottom: 0;

        @media all and (max-width: 768px) {
            &:after, &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: -1px;
                width: 0;
                height: 0;
                border-style: solid;
                z-index: 1;
            }

            /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
            &:after {
                border-color: transparent transparent $orange transparent;
                border-width: 5px;
            }

            /* this border color controlls the outside, thin border */
            &:before {
                border-color: transparent transparent black transparent;
                border-width: 6px;
                margin-left: -1px;
            }
        }
    }
}