/* overwrite text-field css width */
.text-field--hashtag {
    @extend %as_wide_as_parent;
    border-top: white 2px dashed;
    background-color: $gray_text-field;
}

/* overwrite css of react-tagsinput */
.react-tagsinput {
    background-color: $gray_text-field;
    padding: 5px;

    .react-tagsinput-span, span:not(.react-tagsinput-tag) {
        @extend %flex;
        flex-direction: row;
        align-items: center;
        @extend %as_wide_as_parent;
        // height: 49px;
        padding-top: 6px;
        padding-bottom: 10px;
        overflow-x: scroll;
        /* scroll bar */
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: $g_background_gray; 
            -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
        }
    }
}

.react-tagsinput--focused {
    border-color: #a5d24a;
}

span.react-tagsinput-tag {
    display: table;   // TODO: Find out the usage of table
    max-height: 28px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-right: 1px;
    margin-left: 1px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

.react-tagsinput-remove {
    cursor: pointer;
    margin-left: 5px;
    border-left: 1px solid white;
    padding-left: 5px;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: "×";
    font-size: 18px;
}

.react-tagsinput-input {
    width: 80px;
    height: 18px;
    // font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    // margin-bottom: 6px;
    // margin-top: 1px;
    margin-left: 5px;
    border: 0;
    padding: 5px;
    // background: transparent;
    color: #777;
    outline: none;
}

/* overwrite css of react-tag-input */
// div.ReactTags__tags {
//     @extend %as_wide_as_parent;
//     @extend %as_tall_as_parent;
// }

// /* Styles for the input */
// div.ReactTags__tagInput {
//     width: 140px;
//     // @extend %as_tall_as_parent;
//     margin: 5px 0;
//     display: inline-flex;
//     // align-items: center;
//     // justify-content: center;
//     // &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//     //     @extend %text_center;
//     // }
// }
// div.ReactTags__tagInput input, 
// div.ReactTags__tagInput input:focus {
//     // height: 31px;
//     height: 14px;
//     margin: 0;
//     // margin-top: 5px;
//     font-size: 12px;
//     // width: 100%;
//     border: 2px dashed white;
//     background-color: $gray_text-field;
// }

// /* Styles for selected tags */
// div.ReactTags__selected {
//     @extend %as_tall_as_parent;
// }

// div.ReactTags__selected span.ReactTags__tag {
//     // border: 1px solid #ddd;
//     background: #eee;
//     font-size: 14px;
//     display: inline-block;
//     padding: 5px;
//     margin: 0 2px;
//     cursor: move;
//     border-radius: 2px;
//     color: white;
//     background-color: rgba(0,0,0,0.6);
// }
// div.ReactTags__selected a.ReactTags__remove {
//     color: #aaa;
//     // font-size: 20px;
//     margin-left: 5px;
//     cursor: pointer;
// }

// /* Styles for suggestions */
// div.ReactTags__suggestions {
//     position: absolute;
// }
// div.ReactTags__suggestions ul {
//     list-style-type: none;
//     box-shadow: .05em .01em .5em rgba(0,0,0,.2);
//     background: white;
//     width: 200px;
// }
// div.ReactTags__suggestions li {
//     border-bottom: 1px solid #ddd;
//     padding: 5px 10px;
//     margin: 0;
// }
// div.ReactTags__suggestions li mark {
//     text-decoration: underline;
//     background: none;
//     font-weight: 600;
// }
// div.ReactTags__suggestions ul li.active {
//     background: #b7cfe0;
//     cursor: pointer;
// }