/* overwrite text-field css width */
.text-field--hashtag {
    @extend %as_wide_as_parent;
    border-top: white 2px dashed;
    background-color: $gray_text-field;
}

/* overwrite css of react-tagsinput */
.react-tagsinput {
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid rgb(169, 169, 169);

    span:not(.react-tagsinput-tag) {
        @extend %as_wide_as_parent;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    /* TODO: Use other method to let the span is as tall as create tags input span */
    .react-tagsinput-span {
        height: 32.5px;
    }
}

.react-tagsinput--focused {
    border-color: #a5d24a;
}

span.react-tagsinput-tag {
    display: table;   // TODO: Find out the usage of table
    max-height: 28px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin: 1px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

.react-tagsinput-tag--card {
    display: inline-flex;
    margin: 2px;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.react-tagsinput-remove {
    cursor: pointer;
    margin-left: 5px;
    border-left: 1px solid white;
    padding-left: 5px;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: "×";
    font-size: 18px;
}

.react-tagsinput-input {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400;
    border: 0;
    padding: 5px;
    color: #777;
    outline: none;
}


.introduction-and-tags, .introduction-and-tags--player {
    .tag-icon {
        @extend %relative;
        top: 10px;
        display: inline-block;
        height: 30px;
        img {
            height: 100%;
        }
    }
    .ludo-tag {
        display: inline-block;
        margin: 5px;
        padding: 3px 10px;
        background-color: rgba(0,0,0,0.6);
        color: white;
        font-size: 14px;
    }
}